<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Site</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeText}}</p>
        
        {{> footer}}
    </body>
</html>